@import url('../../Variables.css');

#navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar > div {
    height: 100%;
    width: 80%;
    max-width: 1300px;
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .menu-itens-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
}

#navbar .menu-itens-navbar .itens-navbar {
    list-style: none;
}
#navbar .menu-itens-navbar .itens-navbar a{
    color: var(--color-blue-3);
    text-decoration: none;
}


#navbar > div .img-box-navbar {
    height: 80%;
}

#navbar > div .img-box-navbar img {
    height: 100%;
}